# Rust build output (core/)
/core/target
/core/debug
/core/dist
/core/bindings

# Rust
Cargo.lock
**/*.rs.bk
*.pdb
**/mutants.out*/
rustc-ice-*.txt

/exm

# IDE / OS
.idea/
.DS_Store


platforms/android/*/local.properties
platforms/android/*/secrets.properties
platforms/android/*/build
platforms/android/*/core/build
platforms/android/*/.gradle
platforms/android/*/*.gpg