# Rust build output (runtime/)
/runtime/target
/runtime/debug
/runtime/dist
/runtime/bindings

# Rust
Cargo.lock
**/*.rs.bk
*.pdb
**/mutants.out*/
rustc-ice-*.txt

/exm

# IDE / OS
.idea/
.DS_Store

platforms/android/*/.kotlin
platforms/android/*/local.properties
platforms/android/*/secrets.properties
platforms/android/*/**/build
platforms/android/*/.gradle
platforms/android/*/*.gpg

platforms/ios/*/.build
platforms/ios/*/build
platforms/ios/*/.swiftpm
platforms/ios/*/.xcworkspace
platforms/ios/*/xcuserdata
platforms/ios/*/output
platforms/ios/*/*.hmap
platforms/ios/*/*.ipa
platforms/ios/*/*.dSYM.zip
platforms/ios/*/*.dSYM
platforms/ios/*/Package
platforms/ios/*/Package.pins
platforms/ios/*/Package.resolved
platforms/ios/*/*.xcodeproj
platforms/ios/*/*.xcodeproj/**/xcuserdata