R2_URL="https://xxxx.r2.cloudflarestorage.com"
R2_BUCKET="nativeblocks-dist"
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
MAVEN_PUBLIC_URL="https://maven.nativeblocks.io"
DIST_PUBLIC_URL="https://dist.nativeblocks.io"
SWIFT_PUBLIC_URL="https://binaries.nativeblocks.io"
